#holds cold displayed in browser; in sinatra app use .erb
#use .erb over .html so that we can add special erb tags taht contain Ruby code
#file name should be same as action that renders them
<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p> I love programming </p>
  </body>
</html>
